.logButton {
  border: 2.25px solid #7241ff;
  border-radius: 30px;
  padding: clamp(0.625rem, 0.567rem + 0.26vw, 0.75rem) clamp(1.5rem, 1.327rem + 0.77vw, 1.875rem);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
.logButton[data-shine=shine] {
  -webkit-box-shadow: 0 0 7px 0 #74f;
          box-shadow: 0 0 7px 0 #74f;
}