:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Poppins", sans-serif;
    --third-family: "Raleway", sans-serif;
    --font3: "Roboto Flex", sans-serif;
    --font4: "Inter", sans-serif;
    --font5: "Manrope", sans-serif;

    --grey : #77798f;
  }