@import "../../../app/styles/index";
.edit{
    display: flex;
    .container{
        @extend %container;
        padding-top: 80px;
        padding-bottom: 100px;
        width: 100%;
        justify-content: center;
    }
}