@import "../../../app/styles/index";
.portfolios-page{
    .container{
        padding-top: 56px;
        gap: unset;
        gap : 30px;
        align-items: center;
        @extend %container;
        flex-direction: column;
        height: calc(100vh - 150px);

    }
    .portfolios__header{
        @extend %section-header;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .user-section{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        left: 0;

    }
    .user-section__text{
        @extend %paragraph;
    }
    .user-section__buttons{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .user-section__buttons{
        display: flex;
        gap: 20px;
    }
    .portfolio__checker{
        height: auto;
        width: 100%;
    }
    .no-portfolios{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .no-portfolios__text{
        @extend %paragraph;
    }
    .portfolios__block{
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .no-portfolios__button{
        align-self: center;
    }
    .create-link{
        color: rgb(0, 187, 255);
        text-decoration: underline;
    }
    .no-portfolios__text{
        text-align: center;
    }
}