@import "../../../app/styles/mixins";
.fileInput{
    width: 100%;
    border: 2.25px solid #7241ff;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.multipleFileInput{
    display: grid;
    gap: clamp(0.625rem, -0.567rem + 3.31vw, 1.875rem);
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    @media (max-width:576px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width:360px) {
        grid-template-columns: 1fr;
    }
}

.uploadLabel{
    cursor: pointer;
    border-radius: 10px;
    border: 0.75px solid #664dff;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        @extend %paragraph;
        color: white;
    }
}
.fileInputWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.fileInputTitle{
    margin-left: auto;
    margin-right: auto;
    @extend %paragraph;
    color: white;
}
.error{
    font-family: var(--font-family);
    color: rgb(255, 0, 238);
    font-size: 19px; 
    margin-left: 20px;  
    margin-top: 5px;
    margin-right: auto;
}
.imageBlock{
    position: relative;
}
.redCross{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 4%;
    right: 5%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.image{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}
.singleFileInput{
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: left;
    padding-left: 10px;
    padding-right: 10px;
    p{
        @extend %paragraph;
        color: white;
    }
}

.input{
    opacity: 0;
    user-select: none;
    position: absolute;
}
.singleFileInput{

}