
.user{
    display: flex;
    gap: 20px;
    align-items: center;
    .userName{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        color: #fff;
        @media (max-width:480px) {
            display: none;
        }
    }
    .userImage{
        width: 45px;
    }
}