.form{
    width: 100%;
    max-width: 800px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
    border: 1px solid white;
    border-radius: 20px;
}