.portfolioCard{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #7241ff;
    .portfolioCardContainer{
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}
