@import "../../../app/styles/mixins";
.textArea{
    
    
    background-color: transparent;
    font-family: var(--font-family);
    font-size: clamp(0.75rem, 0.558rem + 0.85vw, 1.188rem);
    color: white;

    width: 100%;
    min-height: clamp(6.25rem, 3.506rem + 12.2vw, 12.5rem);
    height: clamp(6.25rem, 3.506rem + 12.2vw, 12.5rem);
    border: none;
    resize: none
}


.textAreaLabel{
    @extend %paragraph;
    color: white;
}

.textAreaContainer{
    border: 2.25px solid #7241ff;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius:20px;
    gap: 20px;
    position: relative;
    padding: 20px;

}
.counter{
    @extend %paragraph;
    align-self: flex-end;
}
.hiddenArea{
    // opacity: 0;
    // z-index: -2;
    user-select: none;
    position: absolute;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    left: 100%;
    max-height: clamp(6.25rem, 3.506rem + 12.2vw, 12.5rem);
    height: clamp(6.25rem, 3.506rem + 12.2vw, 12.5rem);
    overflow-y: hidden;
}
.error{
    font-family: var(--font-family);
    color: rgb(255, 0, 238);
    font-size: 19px; 
    margin-left: 20px;  
    margin-top: 5px;
    margin-right: auto;
}

.textAreaWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow: hidden;
}